{
	"semi": true,
	"singleQuote": true,
	"parser": "typescript",
	"tabWidth": 4,
	"printWidth": 100,
	"useTabs": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["babelrc", ".prettierrc", ".eslintrc", ".swcrc", "package.json", "*.json"],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": "*.css",
			"options": {
				"parser": "css"
			}
		},
		{
			"files": "*.scss",
			"options": {
				"parser": "scss"
			}
		}
	]
}
